<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Students" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <!-- ðŸ” Auth Links (Devise) -->
    <div style="padding: 1rem; background: #f8f8f8;">
      <% if user_signed_in? %>
        Logged in as <%= current_user.email %> |
        <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: "logout-button" %>
      <% else %>
        <%= link_to 'Sign up', new_user_registration_path %> |
        <%= link_to 'Login', new_user_session_path %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
