<%= form_with(model: chat_room, class: "needs-validation") do |form| %>
  <% if chat_room.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(chat_room.errors.count, "error") %> prohibited this chat room from being saved:</h4>
      <ul>
        <% chat_room.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control", placeholder: "Enter a room name" %>
  </div>

  <div>
    <%= form.submit "➕ Create Chat Room", class: "btn btn-primary" %>
  </div>
<% end %>